
.list {
  background-color: hotpink;
}

/* list 안에 있는 li들에게만 */
/* 한킨 띄어쓰기 : ~안에 있는 */
.list > li {
  background-color: dodgerblue;
}

/* list 안에 있는 모든 menu만 */
.list .menu {

}

/* list 안에 있는 친자식 menu만 */
.list > .menu {
  background-color: orange;
}

.list > li:nth-child(2n) {
  background-color: greenyellow;
}

/* CSS nesting */
.list {
   > li:nth-child(3) {
    color: #fff;
   }
}